.appTitle {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appTitle h3{
    width: 80%;
    text-wrap: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.checkedTask {
    color:grey;
    text-decoration: line-through;
}