.appDescribe {
    width: 100%;
    background: #f5ede8;
}

.appDescribeHeader {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px;
}

.appDescribeTitle {
    transition: .4s all, .4s opacity;
    opacity: 1;
    overflow: hidden;
}

.appDescribeTitleOpen {
    opacity: 0;
}

.buttonBlock {
    display: flex;
    justify-content: end;
    align-items: center;
}

.appDescribeBody {
    height: 0;
    border-top: 1px solid #e7e7e7;
    padding: 0 20px;
    transition: .4s all, .4s opacity;
    opacity: 0;
    overflow: hidden;
}

.appDescribeBodyOpen {
    height: auto;
    opacity: 1;
    padding: 20px;

}

.icon {
    transition: .3s all;
}

.openIcon {
    transform: rotate(180deg);
}

.describeBlock{
    width: 100%;
    word-wrap: break-word;
    font-style: italic;
    color: #424242;
}

.describeBlockEmpty{
    color: #a4a2a2;
}

.textArea{
    width: 100%;
}

.createAt{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    color: #797979;
    font-style: italic;
    font-weight: 500;
}